body{
	background: pink;
	color: #000000;
	font-family: trebuchet Ms,arial, times new roman;
	font-size: 12px;
	margin: 0px; 
}

#wrapper{
	background: pink;
	margin: 60px auto;
	width: 900px;
	display: flex;	
	}

#header{
	background: #dba1ab;
	text-align: center;
	display: flex;
	justify-content: center; 

    }

#navigation{
	background: #dba1ab;
	height: 35px;	 
}

#content{
	background: #ffd8df;
	width: 900px;
	height: 2025px;
	justify-content: center;

    box-shadow: 0 0 10px rgb(219 161 171); /* Параметры тени */
    padding: 10px;
}

.footer_wrap {
background: #dba1ab;
padding-top:22px;
height:78px;

}
.footer_wrap p {
margin:0 auto;
padding-top:18px;
width:966px;
text-align:center;
font-size:11px;
border-top:1px solid #dedede;
}

.mybtn{
	text-align: center; 
	padding: 8px 10px; 
	border: solid 1px #dba1ab;
	color: #7777777; 
	background:#dba1ab;
    	tansition: all .3s linear;
    	-webkit-transition: all .3s linear;
    	-moz-transition: all .3s linear; 	
    	text-transform: uppercase;
    	margin: 0PX;
    }

.mybtn:hover {
    color: #ff;
    background: pink;
    tansition: all .3s linear;
    	-webkit-transition: all .3s linear;
    	-moz-transition: all .3s linear; 
    }
    

.rt {font-size: 50px; text-align: center;font-family: IMPACT; margin: 0px;}
.texial {text-align: center ; }
.text1 { word-wrap: break-word;text-align: center;}
.er404 {font-size: 350%; text-align: left;margin: 5PX;font-family: 'IBM Plex Mono', monospace !important, sans-serif; }



a {
    text-decoration: none;
    color: black;
}

a:hover{
	    visited color:#426672;
    text-decoration:none;
    color:#0454ad;text-decoration: underline;

}
img {max-width: 425px; height:300px ; 
   }

.tabl{
	display: grid;

}

.texttabl{
	display: flex;
	
}
.text_food{
	word-break: break-all;
}
.home{
    
    text-align: center;
    display: flex;
	flex-direction: row;
    justify-content: space-around;
}
.img{
	max-width: 435px;
}
.texth1{
	margin: 0;
	flex-direction: row;
	text-align: center;
	font-size: 25px;
	
}

.textp{

    margin: 50px;
}

.footer_wrap {
background: #dba1ab;
padding-top:22px;
height:78px;

}
.footer_wrap p {
margin:0 auto;
padding-top:18px;
width:966px;
text-align:center;
font-size:11px;
border-top:1px solid #dedede;
}
/*


#menu{
	background: #333333;
	float: left;
	width: 200px;
	height: 624px;
}*/
